*.class

# Package Files #
*.war
*.ear
*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# no IntelliJ specific configs
.idea/
*.iml

# no log files in the repo
log/

# no result files in the repo
testng_results/
test-output

# no build dir in the repo
build/
/bin/
